<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.do9core.crashreporter">

    <application>
        <provider
            android:name=".Installer"
            android:authorities="${applicationId}.CrashReportInstaller"
            android:exported="false" />
    </application>
</manifest>
